<div class="color-boxes row-1">
    <li class="empty-box">
    </li>
    <li class="color-box">
    </li>
    <li class="color-box">
    </li>
    <li class="color-box">
    </li>
    <li class="color-box">
    </li>
    <li class="color-box">
    </li>
    <li class="empty-box">
    </li>
</div>


<div class="color-boxes row-2">
    <li class="empty-box">
    </li>
    <li class="color-box">
    </li>
    <li class="color-box">
    </li>
    <li class="color-box">
    </li>
    <li class="color-box">
    </li>
    <li class="color-box">
    </li>
    <li class="empty-box">
    </li>
</div>
