<div class="colors row-1">
    <li class="block">
    </li>
    <li class="nonblock box1">
    </li>
    <li class="nonblock box2">
    </li>
    <li class="nonblock box3">
    </li>
    <li class="nonblock box4">
    </li>
    <li class="nonblock box5">
    </li>
    <li class="block">
    </li>
</div>


<div class="colors row-2">
    <li class="block">
    </li>
    <li class="nonblock box1">
    </li>
    <li class="nonblock box2">
    </li>
    <li class="nonblock box3">
    </li>
    <li class="nonblock box4">
    </li>
    <li class="nonblock box5">
    </li>
    <li class="block">
    </li>
</div>
