<div class="color-boxes row-1">
    <li class="empty-box">
    </li>
    <li class="color-box box-1">
    </li>
    <li class="color-box box-2">
    </li>
    <li class="color-box box-3">
    </li>
    <li class="color-box box-4">
    </li>
    <li class="color-box box-5">
    </li>
    <li class="empty-box">
    </li>
</div>


<div class="color-boxes row-2">
    <li class="empty-box">
    </li>
    <li class="color-box box-1">
    </li>
    <li class="color-box box-2">
    </li>
    <li class="color-box box-3">
    </li>
    <li class="color-box box-4">
    </li>
    <li class="color-box box-5">
    </li>
    <li class="empty-box">
    </li>
</div>
