<div class="shift">


    <!-- input colors -->
    <form id="inputColorForm" name="inputColorForm" method="post">
        <label for="hex">Hex</label>
        <input type="text" name="hex" value="" />
        <label for="RBG">RBG</label>
        <input type="text" name="rgb" value="" />
        <button type="submit" name="submit">submit</button>
    </form>
    <!-- /input -->


    <button class="clear" name="clear">clear</button>


    <!-- output colors -->
    <form id="outputColorForm" name="outputColorForm">
        <label for="soft-hex">Soft Hex</label>
        <input name="soft-hex" value="" />
        <label for="soft-rgb">Soft RGB</label>
        <input name="soft-rgb" value="" />
    </form>
    <!-- /output -->
</div>


<div class="color-boxes row-1">
    <li class="empty-box">
    </li>
    <li class="box convert-color-box">
        <p class="color-code">color</p>
    </li>
    <li class="box convert-soft-color-box">
        <p class="color-code">color</p>
    </li>
    <li class="empty-box">
    </li>
</div>
