<div class="push-one form">

    <!-- input colors -->
    <form id="colorSubmitForm" name="colorSubmitForm" method="post">
        <label for="hex">Hex</label>
        <input type="text" name="hex" value="" />
        <label for="RBG">RBG</label>
        <input type="text" name="rgb" value="" />
        <button type="submit" name="submit">submit</button>
    </form>
    <button class="clear" name="clear">clear</button>


    <!-- output colors -->
    <form id="outputForm" name="outputForm">
        <label for="softhex">Soft Hex</label>
        <input name="softhex" value="" />
        <label for="softrgb">Soft RGB</label>
        <input name="softrgb" value="" />
    </form>
</div>

<div class="colors row-1">
    <li class="block">
    </li>
    <li class="nonblock colorbox">
        <p class="colorCode">color</p>
    </li>
    <li class="nonblock softcolorbox">
        <p class="colorCode">color</p>
    </li>
    <li class="block">
    </li>
</div>
