<div class="shift">
    <!-- input colors -->
    <form id="inputColorForm" name="inputColorForm" method="post">
        <label for="hex">Hex</label>
        <input type="text" name="hex" value="" />
        <label for="RBG">RBG</label>
        <input type="text" name="rgb" value="" />
    </form>
    <!-- /input -->
    <!-- output colors -->
    <form id="outputColorForm" name="outputColorForm">
        <label for="soft-hex">Soft Hex</label>
        <input name="soft-hex" value="" />
        <label for="soft-rgb">Soft RGB</label>
        <input name="soft-rgb" value="" />
    </form>
    <!-- /output -->
</div>
<button class="convert-button submit" name="submit">soften</button>
<button class="convert-button clear" name="clear">clear</button>
<div class="color-boxes row-1">
    <li class="empty-box">
    </li>
    <li class="box convert-color-box convert-colors">
        <p class="color-code">Before</p>
    </li>
    <li class="box convert-soft-color-box convert-colors">
        <p class="color-code">After</p>
    </li>
    <li class="empty-box">
    </li>
</div>
