<div id="pagepiling">
    <div class="section">
        <div class="wrapper">
            <div class="nav">
                <div class="push-one"> <a href="/" class="home-link">
                        SoftColors.io
                    </a></div>
                <div>
                    <a></a>
                </div>
                <div class="right-align about"><a href="#about" class="about">
                        About
                    </a></div>
                <div class="push-one center-align"><a href="http://github.com">
                        Github
                    </a></div>
            </div>
            <hr color="#eeeeee" width="100%">
            <div class="hero-header">
                <div class="softcolors">
                    <h1>S<span class="smaller">oft</span> C<span class="smaller">olors</span>
                    </h1>
                </div>
                <div class="choices">
                    <h1><button class="convert button button--winona button--border-thick button--round-l button--text-upper button--size-s button--text-thick" data-text="Convert"><span>Convert</span></button></h1>
                    <h1><button class="choose button button--winona button--border-thick button--round-l button--text-upper button--size-s button--text-thick" data-text="Choose"><span>Choose</span></button></h1>
                    <h1><button class="random button button--winona button--border-thick button--round-l button--text-upper button--size-s button--text-thick" data-text="Random"><span>Random</span></button></h1>
                </div>
                <div class="contentwrapper">
                    <div class="colors
row-one">
                        <li class="block">
                        </li>
                        <li class="nonblock a">
                        </li>
                        <li class="nonblock b">
                        </li>
                        <li class="nonblock c">
                        </li>
                        <li class="nonblock d">
                        </li>
                        <li class="nonblock e">
                        </li>
                        <li class="block">
                        </li>
                    </div>
                    <div class="colors row-two">
                        <li class="block">
                        </li>
                        <li class="nonblock f">
                        </li>
                        <li class="nonblock g">
                        </li>
                        <li class="nonblock h">
                        </li>
                        <li class="nonblock i">
                        </li>
                        <li class="nonblock j">
                        </li>
                        <li class="block">
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="page-2-wrapper">
            <div class="desc">
                <div class="block-one">
                </div>
                <h1>Why?</h1>
                <p>Don't you just hate it when you have an oversaturated color?</p>
            </div>
            <div class="desc-about">
                <h1>About</h1>
                <p>This is a simple app utilizing the <a href="https://github.com/bgrins/TinyColor">TinyColor API</a> to soften a color supplied by a user. </p>
                <p>Created and designed by <a href="http://www.corollari.com">Michael Lee.</a></p>
            </div>
        </div>
    </div>
</div>
