<!--\\ 
    Using the pagepiling plugin for sectioning.
    More info at https://github.com/alvarotrigo/pagePiling.js/
    \\-->
<div id="pagepiling">


    <!-- first section - main -->
    <div class="section">
        <div class="wrapper">
            <div class="nav">
                <div class="push-one"> <a href="/" class="home-link">
                        SoftColors.io
                    </a></div>
                <div>
                    <a></a>
                </div>
                <div class="right-align about"><a id="about" href="#about">
                        About
                    </a></div>
                <div class="push-one center-align"><a href="http://github.com">
                        Github
                    </a></div>
            </div>

            <hr color="#eeeeee" width="100%">


            <!-- header with logo -->
            <div class="hero-header">
                <!-- animate heading with colors -->
                <div class="softcolors">
                    <h1>S<span class="smaller">oft</span> C<span class="smaller">olors</span>
                    </h1>
                </div>


                <!--- buttons -->
                <div class="choices">
                    <h1><button class="options button button--winona button--border-thick button--round-l button--text-upper button--size-s button--text-thick" data-text="Convert" data-action="convert"><span>Convert</span></button></h1>
                    <h1><button class="options button button--winona button--border-thick button--round-l button--text-upper button--size-s button--text-thick" data-text="Choose" data-action="chooseColor"><span>Choose</span></button></h1>
                    <h1><button class="options button button--winona button--border-thick button--round-l button--text-upper button--size-s button--text-thick" data-text="Random" data-action="chooseRandomColor"><span>Random</span></button></h1>
                </div>


                <div class="content">
                    <!-- content will appear here -->
                </div>
            </div>
        </div>
    </div>


    <!-- second section - about -->
    <div class="section">
        <div class="page-2-wrapper">
            <div class="desc">
                <div class="block-one">
                </div>
                <h1>Why?</h1>
                <p>Don't you just hate it when you have an oversaturated color?</p>
            </div>
            <div class="desc-about">
                <h1>About</h1>
                <p>This is a simple app utilizing the <a href="https://github.com/bgrins/TinyColor">TinyColor API</a> to soften a color supplied by a user. </p>
                <p>Created and designed by <a href="http://www.corollari.com">Michael Lee.</a></p>
            </div>
        </div>
    </div>
</div>
