html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Common button styles */
@media (max-width: 840px) {
  button {
    width: 120px;
    height: 40px; } }

@media (max-width: 640px) {
  button {
    width: 100px;
    height: 35px; } }

@media (max-width: 504px) {
  button {
    width: 80px;
    height: 25px; } }

.button {
  display: inline-block;
  text-align: center;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.button:focus {
  outline: none; }

.button > span {
  vertical-align: middle; }

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
  color: #37474f;
  border-color: #37474f; }

.bg-2 .button {
  color: #ECEFF1;
  border-color: #ECEFF1; }

.bg-3 .button {
  color: #fff;
  border-color: #fff; }

/* Sizes */
.button--size-s {
  font-size: 14px; }
  @media (max-width: 840px) {
    .button--size-s {
      font-size: 10px; } }
  @media (max-width: 640px) {
    .button--size-s {
      font-size: 8px; } }
  @media (max-width: 504px) {
    .button--size-s {
      font-size: 6px; } }

.button--size-m {
  font-size: 16px; }

.button--size-l {
  font-size: 18px; }

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase; }

.button--text-thin {
  font-weight: 300; }

.button--text-medium {
  font-weight: 500; }

.button--text-thick {
  font-weight: 600; }

.button--round-s {
  border-radius: 5px; }

.button--round-m {
  border-radius: 15px; }

.button--round-l {
  border-radius: 40px; }

/* Borders */
.button--border-thin {
  border: 1px solid; }

.button--border-medium {
  border: 2px solid; }

.button--border-thick {
  border: 3px solid; }

/* Winona */
.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #96c5f7;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0); }

.button--winona > span {
  display: block; }

.button--winona.button--inverted {
  color: #7986cb; }

.button--winona.button--inverted:after {
  color: #fff; }

.button--winona::after,
.button--winona > span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
  transition: transform 0.75s, opacity 0.75s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--winona:hover {
  border-color: #96c5f7;
  background-color: rgba(63, 81, 181, 0.1); }

.button--winona.button--inverted:hover {
  border-color: #21333C;
  background-color: #21333C; }

.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--winona:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0); }

/*-------------------*        #FONTS
\*-------------------*/
@font-face {
  font-family: Intro;
  src: local("Intro"), url("../fonts/IntroInline.otf"); }

@font-face {
  font-family: Montserrat-semibold;
  src: local("Montserrat-semibold"), url("../fonts/Montserrat-SemiBold.otf"); }

@font-face {
  font-family: Montserrat;
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.otf"); }

/*-------------------*     #MAINLAYOUT
\*-------------------*/
body {
  font: 14px Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

h1 {
  text-align: center;
  color: #444444;
  font-family: Montserrat-semibold; }

a {
  font-family: Montserrat-semibold;
  color: #999999;
  font-size: 20px;
  text-decoration: none; }
  a:hover {
    color: #21333C; }

.hero-header {
  padding-top: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 840px; }
  .hero-header::after {
    clear: both;
    content: "";
    display: block; }
  @media (max-width: 1200px) {
    .hero-header {
      height: 840px; } }
  @media (max-width: 1000px) {
    .hero-header {
      height: 700px; } }
  @media (max-width: 840px) {
    .hero-header {
      height: 588px; } }
  @media (max-width: 768px) {
    .hero-header {
      height: 537.6px; } }
  @media (max-width: 640px) {
    .hero-header {
      height: 448px; } }
  @media (max-width: 570px) {
    .hero-header {
      height: 400px; } }
  @media (max-width: 504px) {
    .hero-header {
      height: 352.8px; } }
  @media (max-width: 400px) {
    .hero-header {
      height: 280px; } }

.header-logo {
  margin-bottom: 30px; }
  .header-logo h1 {
    font-size: 140px; }
    @media (max-width: 840px) {
      .header-logo h1 {
        font-size: 120px; } }
    @media (max-width: 760px) {
      .header-logo h1 {
        font-size: 100px; } }
    @media (max-width: 640px) {
      .header-logo h1 {
        font-size: 80px; } }

.smaller {
  font-size: 140px; }
  @media (max-width: 840px) {
    .smaller {
      font-size: 100px; } }
  @media (max-width: 760px) {
    .smaller {
      font-size: 80px; } }
  @media (max-width: 640px) {
    .smaller {
      font-size: 60px; } }

/*-------------------*        #NAV
\*-------------------*/
.nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .nav::after {
    clear: both;
    content: "";
    display: block; }
  .nav a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    padding: 2.35765%; }
    .nav a:last-child {
      margin-right: 0; }

.shift {
  margin-left: 8.5298%; }

.right-align {
  text-align: right; }

.center-align {
  text-align: center; }

/*-------------------*        #CONTENT
\*-------------------*/
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%; }
  .content::after {
    clear: both;
    content: "";
    display: block; }

/*-------------------*        #CONVERT
\*-------------------*/
.box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  height: 100%;
  border: 3px #fefefe solid;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000; }
  .box:last-child {
    margin-right: 0; }
  .box:hover {
    box-shadow: inset 0 0 2px 2px #ffffff; }

.convert-color-box {
  background-color: #000; }

.convert-soft-color-box {
  background-color: #eee; }

/*-------------------*        #CHOOSE
\*-------------------*/
.color-boxes .empty-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  height: 100%; }
  .color-boxes .empty-box:last-child {
    margin-right: 0; }

.color-boxes .color-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  height: 100%;
  border: 3px #fefefe solid;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000; }
  .color-boxes .color-box:last-child {
    margin-right: 0; }
  .color-boxes .color-box:hover {
    box-shadow: inset 0 0 2px 2px #ffffff; }

.color-code {
  display: none;
  color: #000; }

.top-buttons {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px; }
  .top-buttons::after {
    clear: both;
    content: "";
    display: block; }
  .top-buttons h1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .top-buttons h1:last-child {
      margin-right: 0; }

.row-1 {
  height: 20%;
  margin-bottom: 30px; }

.row-2 {
  height: 20%; }

/*-------------------*        #RANDOM
\*-------------------*/
/*-------------------*      #SECTION2
\*-------------------*/
.page-2-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .page-2-wrapper::after {
    clear: both;
    content: "";
    display: block; }
  .page-2-wrapper .why {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 8.5298%;
    padding-right: 60px; }
    .page-2-wrapper .why:last-child {
      margin-right: 0; }
    @media (max-width: 840px) {
      .page-2-wrapper .why {
        padding-right: 30px; } }
    @media (max-width: 640px) {
      .page-2-wrapper .why {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        padding: 0;
        margin-bottom: 60px; }
        .page-2-wrapper .why:last-child {
          margin-right: 0; } }
    .page-2-wrapper .why h1 {
      width: 80px;
      text-align: left;
      color: #e9e9e9;
      border-bottom: 2px solid #e9e9e9; }
    .page-2-wrapper .why p {
      color: #e9e9e9;
      margin-top: 30px;
      font-family: Montserrat; }
    .page-2-wrapper .why a {
      font-size: 1em;
      color: #e9e9e9; }
      .page-2-wrapper .why a:hover {
        color: #21333C; }
  .page-2-wrapper .about {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    padding-left: 60px; }
    .page-2-wrapper .about:last-child {
      margin-right: 0; }
    @media (max-width: 840px) {
      .page-2-wrapper .about {
        padding-left: 30px; } }
    @media (max-width: 640px) {
      .page-2-wrapper .about {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        padding: 0; }
        .page-2-wrapper .about:last-child {
          margin-right: 0; } }
    .page-2-wrapper .about h1 {
      width: 100px;
      text-align: left;
      color: #e9e9e9;
      border-bottom: 2px solid #e9e9e9; }
    .page-2-wrapper .about p {
      color: #e9e9e9;
      margin-top: 30px;
      font-family: Montserrat; }
    .page-2-wrapper .about a {
      font-size: 1em;
      color: #e9e9e9; }
      .page-2-wrapper .about a:hover {
        color: #21333C; }

/*-------------------*      #ANIMATIONS
\*-------------------*/
@keyframes fadeOut {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  100% {
    transform: translate3d(0, 200px, 0px);
    opacity: 0.0; } }

@keyframes fadeIn {
  0% {
    transform: translate3d(-300px, 150px, 0px);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
